body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 25px;
  max-width: 600px;
  margin: 100px auto;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
form {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
button {
  width: 25%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  background: #c50d66;
  font-weight: 500;
}
hr {
  opacity: 0.05;
}
h1 {
  font-size: 38px;
  font-weight: 700;
}
.date-details h4 {
  color: #686767b7;
  font-size: 14px;
  margin-bottom: 0;
}
.date-details p {
  color: #686767b7;
  font-size: 14px;
  font-weight: 500;
}
strong {
  color: #c50d66;
}
.temperature .temp {
  font-size: 80px;
  font-weight: 600;
}
.temperature .unit {
  position: relative;
  top: -30px;
  font-size: 30px;
}
.temperature-details {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  flex-wrap: wrap;
}
.temperature-details .icon {
  height: 80px;
  width: 80px;
  position: relative;
  bottom: -15px;
  margin-left: 30px;
}
footer p {
  text-align: center;
  color: #686767b7;
}
footer a {
  color: #c50d66;
  cursor: pointer;
}
@media (max-width: 960px) {
  h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .date-details h4 {
    font-size: 10px;
  }
  .date-details p {
    font-size: 10px;
  }
  .temperature .temp {
    font-size: 50px;
  }
  .temperature .unit {
    font-size: 20px;
    position: relative;
    top: -20px;
  }

  .temperature-details .icon {
    height: 50px;
    width: 50px;
  }
  body {
    padding: 10px;
  }
}
